html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}
button {
    margin: 10px 0;
}
.error-message {
    color: #dc3545;
    font-size: 0.875em;
    margin-bottom: 15px;
    display: none; /* Hidden by default */
}
.container {
    width: 800px;
    margin: 20px auto;
}
input,
textarea {
    width: 100%;
}

.saved {
    position: fixed;
    padding: 2rem 5rem;
    border: 1px solid black;
    background: white;
    margin: auto;
    top: 15vh;
    opacity: 0;
    pointer-events:none;
}

    .saved.show {
        opacity: 1;
    }