@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<form asp-page-handler="GotoEdit" method="post">
   <label>Choose Json File
   <input type="text" name="file" required value="@Model.Config.JsonFilename"/></label>
   <button>Goto Edit</button>
</form>