@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>Enter Folder Path</h1>
<form method="post" asp-page-handler="ListFiles">
        <input type="text" name="folder" required value="@Model.FolderPath" />
    <button type="submit">List Files</button>
</form>

@if (Model.JsonFiles?.Any() == true)
{
    <h3>Choose a JSON file to edit:</h3>
    <ul>
        @foreach (var file in Model.JsonFiles)
        {
            <li>
            <form method="post" asp-page-handler="GotoEdit">
                <input type="hidden" name="file" value="@file" />
                <button type="submit">@System.IO.Path.GetFileName(file)
                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" viewBox="0 0 16 16" style="vertical-align: middle; margin-left: 4px;">
                        <path fill-rule="evenodd" d="M4.646 14.354a.5.5 0 0 1 0-.708L10.293 8 4.646 2.354a.5.5 0 1 1 .708-.708l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708 0z"/>
                    </svg>
                </button>
            </form>
            </li>
        }
    </ul>
}
else if (Model.FolderPath != null)
{
    <p>No JSON files found in folder.</p>
}